@model RandomYoutubeVideo.Models.AdminModel
@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Admin Panel</h1>
<div class="wraper  " style="border:10px solid grey; padding:10px;">
    <button class="btn-lg btn-info">Update Database</button>
    <br />
    <br />


    <form style="border:2px solid black" asp-action="SerachForNewIDS">
        <div class="form-group">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <label asp-for="Api" for="ApiKey" class="control-label">Api Key</label>
            <input asp-for="Api" class="form-control-sm" accept="text" id="ApiKey" />
            <span asp-validation-for="Api" class="text-danger"></span>
            <br />
            <label asp-for="NumberOfQuerrys" for="QuerrySelect">How many Querries?</label>
            <select asp-for="NumberOfQuerrys" class="form-control-sm" id="QuerrySelect">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
                <span asp-validation-for="NumberOfQuerrys" class="text-danger"></span>
            </select>
        </div>
        <div class="form-group">
          <input type="submit" value="SerachForNewIDS" class="btn-warning btn-lg" />
        </div>
    </form>

    <a asp-action="Import" class="btn-link">Import data from file</a>
</div>