<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RandomYoutubeVideo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <header>

        <div class="lights-continer">
            <div class="light"></div>
            <div class="light"></div>
            <div class="light"></div>
            <div class="light"></div>
        </div>


    </header>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <h2 class="Logo-wraper navbar-brand">Random <img src="~/images/youtube-logo-full-color.png" /> Video</h2>
            </div>
            <ul class="nav navbar-dark">
                <li>
                    <a href="#">SinUp</a>
                </li>

                <li>
                    <a href="#">Login</a>
                </li>

            </ul>
        </div>

    </nav>
    <div class="container">
        @RenderBody()

    </div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
