@{
    ViewData["Title"] = "Home Page";
}


    <div class="Viver-continer">

        <iframe 
                src="https://www.youtube.com/embed/tgbNymZ7vqY">
        </iframe>

    </div>
    <div class="button_nextVideo">
        <img Id="PopcornBox" Style="width:10rem;" src="~/images/PopcornBox.png" onmouseover="PopcornAnimation(this,true)" onmouseout="PopcornAnimation(this,false)" onclick="NextVideo(this)" onmouseup="PopcornSize(this,false)" onmousedown="PopcornSize(this,true)"/>
        <img class="NextVideo" src="~/images/NextVideo.png"  />
    </div>
     